<p id="notice"><%= notice %></p>
<div class="container mt-5">
  <h1>Users</h1>

  <%= will_paginate renderer: custom_paginate_renderer %>
      <% @users.each do |u| %>
        <%= render 'shared/user', user: u, show_user_settings: true %>
      <% end %>
  <%= will_paginate renderer: custom_paginate_renderer %>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>
