<% provide(:title, "#{@user.name}'s Profile") %>

<div class="container">
  <p>
    <%= gravatar_for(@user) %>
    <h2><%= @user.name %></h2>

    <strong>Email:</strong> <%= @user.email %>
  </p>

  <div>
    <div>User joined at: <%= @user.created_at %></div>
    <div>Profile updated at: <%= @user.updated_at %></div>
    Current time: <%= Time.now %>
  </div>

  <%= link_to 'Update Profile', edit_user_path(@user) %>
</div>
