<% provide(:title, "#{@user.name}'s Profile") %>

<div class="container mt-5">
  <p>
    <%= gravatar_for(@user) %>
    <h2><%= @user.name %></h2>

    <strong>Email:</strong> <%= @user.email %>
  </p>

  <div>
    <div>User joined at: <%= @user.created_at %></div>
    <div>Profile updated at: <%= @user.updated_at %></div>
    Current time: <%= Time.now %>
  </div>

  <%= link_to 'Update Profile', edit_user_path(@user) %>
</div>

<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">Following</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
    </li>
  </ul>

  <div class="tab-content mt-3" style="min-height: 300px;">
    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
      <%= will_paginate @posts, renderer: custom_paginate_renderer %>
      <div class="mt-3">
        <%= render @posts %>
      </div>
    </div>

    <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
      
      <div class="mt-3">
        <% @user.comments.each do |c| %>
          <%= c.content %> at <%= c.created_at.strftime("%-d/%-m/%y: %k:%M %p") %> on <%= c.post.title %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
      Following
    </div>

    <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
      Followers
    </div>
  </div>
