<% provide(:title, "New Post") %>

<div class="container">
  <h1>New Post</h1>

  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label>Post Title</label>
      <%= form.text_field :title, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <label>Post Body</label>
      <%= form.text_area :body, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= form.submit "Create New Post", {class: "btn btn-primary"} %>
    </div>
  <% end %>
</div>
