<% show_user_settings ||= false %>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= gravatar_for user, size: 50 %>
    </div>
    
    <div class="col-4">
      <h3><%= link_to user.name, user %></h3>
      <p><%= user.email %></p>
    </div>

    <div class="col-4">
      <%= render 'shared/stats', user: user %>
    </div>
  </div>
  <% if show_user_settings %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if current_user.admin? && !current_user?(user) %>
  <% end %>
</div>
